transformers
librosa
SpeechRecognition
whisper
openai-whisper
spacy
seaborn
matplotlib
textblob
scikit-learn
numpy<2
networkx
streamlit==1.43.1
pydub
tensorflow>=2.0.0
ffmpeg-python
torch==1.12.1
ffmpeg-python
pandas
numpy
librosa
openai-whisper
nltk
seaborn
matplotlib
torchaudio


